body {
	padding: 0;
	margin: 0;
	background="images/generic.gif"
}
.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
	width: 100%;
}